{% extends 'base.html' %}
{% load static %}
{% block title %}Courses
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/hod_dashboard_course.css' %}">
    <a href="{% url 'add-course' %}" class="add-icon">
        <img src="{% static 'img/plus.svg' %}" alt="">
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Code Name</th>
            <th>Students Count</th>
            <th colspan="2">Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in course %}
            <tr>
                <td>{{ courses.name }}</td>
                <td>{{ courses.code_name }}</td>
                <td>{{ courses.student_set.count }}</td>
                <td><a href="{% url 'update-course' courses.id %}"
                       class="link update-btn">Update</a></td>
                <td><a href="{% url 'delete-course' courses.id %}"
                       class="link delete-btn">Delete</a></td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}
