{% extends 'staff_base.html' %} {% load static %}{% block content %}
    <link rel="stylesheet" href="{% static 'css/staff_dashboard_guardian.css' %}"/>
    <div class="section">
        <table>
            <thead class="head">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Token No.</th>
                <th>Course</th>
                <th>DOB</th>
                <th>Join Date</th>
                <th>End Date</th>

                <th colspan="2">Edit</th>
            </tr>
            </thead>

            <tbody>
            {% for student in student_list %}
                <tr>
                    <td>{{ student.get_full_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.token_no }}</td>
                    <td>{{ student.course_name.code_name }}</td>
                    <td>{{ student.date_of_birth }}</td>
                    <td>{{ student.session_start_date }}</td>
                    <td>{{ student.session_end_date }}</td>

                    <td><a href="#update" class="link update">Update</a></td>
                    <td><a href="#link" class="link delete">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
